.moreSong {
  /* height: 100%; */
}
.moreSong__infiniteScroll__section {
  min-height: 100vh;
}
.moreSong__items {
  padding: 0 10px 0 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.moreSong .infinite-scroll-component {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.moreSong__title {
  white-space: pre-wrap;
}

@media (max-width: 768px) {
  .moreSong {
    padding-bottom: 110px;
  }
}
