.allPerson {
  padding: 20px;
  padding-top: 40px;
  /* height: 100%; */
}

.allPerson .infinite-scroll-component__outerdiv {
  /* min-height: 100vh !important; */
}
.allPerson .infinite-scroll-component {
  /* padding: 0 10px 0 0; */
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
@media (max-width: 768px) {
  .allPerson {
    padding-bottom: 110px;
  }
}
