.banner {
  /* margin-top: 56px; */
}

.banner .carousel {
  background-color: rgb(18, 18, 18);
  /* padding-bottom: 10px; */
  padding-top: 0px;
}
.bannerslider {
  width: 100%;
  height: 500px;
  z-index: 0;
  cursor: pointer;
}

.banner .carousel-cell {
  width: 100%;
  height: 500px;
  margin-right: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.banner .flickity-prev-next-button {
  display: flex !important;
  justify-content: space-between !important;
}
.banner .flickity-prev-next-button.next {
  margin-top: 10%;
  right: 10px;
  margin-right: 87%;
}

.banner .flickity-prev-next-button.previous {
  margin-top: 10%;
  left: 10px;
  margin-left: 5%;
}
.banner .carousel-cell-image {
  height: 500px;
  width: 100%;
  display: block;
  /* max-height: 100%; */
}
@media (max-width: 768px) {
  .bannerslider {
    height: 200px;
  }
  .banner .flickity-prev-next-button {
    display: none !important  ;
  }
  .banner {
    margin-top: 0;
  }
  .banner .carousel-cell {
    height: 200px;
  }
  .banner .carousel-cell-image {
    height: 200px;
  }
  .banner .carousel {
    padding-top: 0 !important;
  }
}
