.modal {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
}

.MuiIconButton-root {
  outline-width: 0 !important;
}
.playlist {
  direction: rtl;
  border-radius: 10px;
  min-width: 450px;
  outline-width: 0;
  background-color: rgb(18, 18, 18) !important;
  box-shadow: 0 5px 15px rgba(173, 173, 173, 0.733);
  z-index: 99999;
}

.playlist .MuiIconButton-label {
  color: whitesmoke;
}
.playlist__lists {
  height: 30vh;
  overflow-y: scroll;
  overflow-x: hidden;
}

.playlist__lists::-webkit-scrollbar {
  width: 10px;
}

.playlist__lists::-webkit-scrollbar-track {
  border-radius: 10px;
}

.playlist__lists::-webkit-scrollbar-thumb {
  background: rgba(105, 104, 109, 0.685);
  border-radius: 10px;
}

.playlist__lists::-webkit-scrollbar-thumb:hover {
  background: rgb(63, 63, 63);
}

.playlist__title .title {
  font-family: vazir;
  font-size: 25px;
  font-weight: 900;
  display: flex;
  align-items: center;
}
.playlist__line {
  border-top: 1px solid whitesmoke;
}
.list:hover {
  background-color: rgba(0, 0, 0, 0.658);
  cursor: pointer;
}

.list:hover input {
  background-color: rgba(0, 0, 0, 0.658);
}
.list input {
  width: 100%;
  height: 100%;
  background: rgb(18, 18, 18);
  height: 30px;
  align-self: center;
  border: 0;
  padding: 10px;
  border-radius: 5px;
  margin-right: 2px;
  color: white;
  cursor: pointer;
}

.list input:focus {
  background-color: whitesmoke;
  color: black;
}

.list .list__icons .see {
  margin-left: -14px;
  color: rgba(255, 255, 255, 0.384);
  z-index: 1;
}
.list .list__icons .note {
  color: rgb(255, 255, 255);
}

.list__icons .MuiButtonBase-root:hover {
  background-color: rgba(36, 36, 36, 0.322);
}

.list .centerItem__info {
  margin-top: 12px;
  margin-bottom: 12px;
  color: lightgreen;
  font-family: Vazir;
}
.addBtn {
  font-family: "vazir";
  justify-content: center;
  margin-left: 17px;
  box-shadow: 0 5px 15px rgba(173, 173, 173, 0.733);
  height: 40px;
  margin-top: 10px;
  cursor: pointer;
  border: 1px solid rgba(245, 245, 245, 0.384);
  border-radius: 10px;
  transition: 0.5s;
}
.addBtn:hover {
  background-color: whitesmoke;
  box-shadow: 0 5px 15px rgba(21, 9, 87, 0.733);
  color: black;
}

.addBtn:hover svg {
  color: black;
}
.make__new__list {
  font-size: 18px;
  width: 100%;
  text-align: center;
}
.center__input_dialog__div {
  display: grid;
  /* direction: rtl; */
}
.center__input_dialog__div__warn {
  color: red;
  text-align: end;
  font-size: 10px;
  margin-top: 5px;
}
.center__input_dialog__btn {
  border: 1px solid white;
  border-radius: 10px;
  padding: 5px 10px;
  color: whitesmoke;
  cursor: pointer;
}
.center__input_dialog__btn:hover {
  background: rgb(97, 97, 99);
}
.center__input_dialog__input {
  outline-width: 0;
  border: 0;
  border-radius: 10px;
  padding: 5px 15px;
}
.center__input_dialog__input:focus {
  box-shadow: 0 5px 15px rgba(173, 173, 173, 0.733);
}
@media (max-width: 768px) {
  .playlist {
    min-width: 300px;
  }
  .playlist .list input {
    font-size: 12px !important;
  }
  .playlist__title .title {
    font-size: 18px;
  }
  .playlist__lists::-webkit-scrollbar {
    width: 5px;
  }

  .list__icons .MuiButtonBase-root {
    padding: 8px !important;
  }
  .list .centerItem__info {
    font-size: 9px;
  }

  .make__new__list {
    font-size: 15px;
  }
}
