.footer {
  background-color: rgb(34, 35, 39);
  bottom: 0 !important;
  position: relative;
  /* top: 82px; */
}

.footer__images img {
  width: 15%;
}

.footer__info {
  justify-content: flex-end;
}
.footer__info img {
  width: 35%;
}

@media (max-width: 768px) {
  .footer {
    margin-bottom: 16%;
  }
}
@media (max-width: 465px) {
  .footer {
    margin-bottom: 25%;
  }
}
