.playList {
  width: 50%;
  position: fixed;
  top: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  z-index: 999;
  background-color: rgb(18, 18, 18);
  box-shadow: 5px 18px 18px 0 rgba(168, 179, 211, 0.38);
  transition: left 500ms ease-in-out;
  direction: ltr;
  /* left: -100%; */
}

.bg__gray {
  background-color: rgb(34, 35, 39);
}

.playerInfo {
  /* justify-content: flex-end; */
  direction: rtl;
}

.info {
  display: grid;
  align-self: center;
  flex-direction: column;
  align-items: stretch;
  text-align: right;
  margin-right: 10px;
}

.info__title {
  font-weight: 900;
  font-size: 22px;
  max-height: 47px;
  overflow: hidden;
}

.info__person {
  font-weight: 600;
  font-size: 15px;
  color: #6c7480;
}

.info__image {
  height: 100px;
  width: 100px;
  border-radius: 10px;
}

.info__image img {
  height: 100%;
  width: 100%;
  border-radius: 10px;
}

.icons {
  justify-content: flex-end;
}

.player__zone .current-time {
  flex: 0.1;
}
.player__zone .player {
  flex: 2;
}
.player__zone .last-time {
  flex: 0.1;
}

.closeBtn {
  margin-left: 90%;
  margin-top: 20px;
  margin-bottom: 20px;
}
.closeBtn:hover {
  color: #6c7480;
  cursor: pointer;
}

.song {
  direction: rtl;
}

.song__image {
  height: 80px;
  width: 80px;
  border-radius: 10px;
}

.song__image img {
  cursor: pointer;
  height: 100%;
  width: 100%;
  border-radius: 10px;
}

.song__info {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  text-align: right;
  margin-right: 10px;
}
.deleteSongBtn .Favorite:hover {
  color: rgb(165, 49, 49);
}
.deleteSongBtn .MuiIconButton-root {
  color: inherit;
}
.song__title {
  font-weight: 900;
  font-size: 17px;
  max-height: 47px;
  overflow: hidden;
}

.song__person {
  font-weight: 600;
  font-size: 12px;
  color: #6c7480;
}

.song__time {
  font-size: 13px;
}

.songs .number {
  font-size: larger;
  font-weight: bold;
}
.songs {
  direction: rtl;
  overflow-y: scroll;
}

.songs::-webkit-scrollbar {
  width: 10px;
}

/* Track */
.songs::-webkit-scrollbar-track {
  /* box-shadow: inset 0 0 5px rgba(83, 83, 83, 0.021); */
  border-radius: 10px;
}

/* Handle */
.songs::-webkit-scrollbar-thumb {
  background: rgba(105, 104, 109, 0.685);
  border-radius: 10px;
}

/* Handle on hover */
.songs::-webkit-scrollbar-thumb:hover {
  background: rgb(63, 63, 63);
}

@media (max-width: 768px) {
  .playList {
    width: 100%;
  }
  .playlist__musicBar {
    font-size: 10px;
    margin-bottom: 0 !important;
  }
  .playerInfo {
    margin-top: 10px;
  }
  /* .last-time {
    margin-right: -20px;
  } */
  .info__person {
    margin-bottom: 0 !important;
  }
  .closeBtn {
    display: none !important;
    margin-left: 87%;
  }
  .info__title {
    font-size: 17px;
  }
  .song__title {
    font-size: 13px;
  }
  .song__image img {
    height: 70px;
    width: 70px;
  }
  .icons {
    margin-bottom: 0 !important;
  }

  .songs::-webkit-scrollbar-track {
    /* box-shadow: inset 0 0 5px rgba(83, 83, 83, 0.021); */
    border-radius: 5px;
  }
}
