.playList {
  width: 50%;
  position: fixed;
  top: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  z-index: 999;
  background-color: rgb(18, 18, 18);
  box-shadow: 5px 18px 18px 0 rgba(168, 179, 211, 0.38);
  transition: left 500ms ease-in-out;
  direction: ltr;
  /* left: -100%; */
}

.bg__gray {
  background-color: rgb(34, 35, 39);
}

.playerInfo {
  /* justify-content: flex-end; */
  direction: rtl;
}

.info {
  display: grid;
  align-self: center;
  flex-direction: column;
  align-items: stretch;
  text-align: right;
  margin-right: 10px;
}

.info__title {
  font-weight: 900;
  font-size: 22px;
  max-height: 47px;
  overflow: hidden;
}

.info__person {
  font-weight: 600;
  font-size: 15px;
  color: #6c7480;
}

.info__image {
  height: 100px;
  width: 100px;
  border-radius: 10px;
}

.info__image img {
  height: 100%;
  width: 100%;
  border-radius: 10px;
}

.icons {
  justify-content: flex-end;
}

.player__zone .current-time {
  flex: 0.1;
}
.player__zone .player {
  flex: 2;
}
.player__zone .last-time {
  flex: 0.1;
}

.closeBtn {
  margin-left: 90%;
  margin-top: 20px;
  margin-bottom: 20px;
}
.closeBtn:hover {
  color: #6c7480;
  cursor: pointer;
}

.song {
  direction: rtl;
}

.song__image {
  height: 80px;
  width: 80px;
  border-radius: 10px;
  position: relative;
}

.song__image img {
  cursor: pointer;
  height: 100%;
  width: 100%;
  border-radius: 10px;
}

.song__info {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  text-align: right;
  margin-right: 10px;
}
.deleteSongBtn .Favorite:hover {
  color: rgb(165, 49, 49);
}
.deleteSongBtn .MuiIconButton-root {
  color: inherit;
}
.song__title {
  font-weight: 900;
  font-size: 17px;
  max-height: 47px;
  overflow: hidden;
}

.song__person {
  font-weight: 600;
  font-size: 12px;
  color: #6c7480;
}

.song__time {
  font-size: 13px;
}

.songs .number {
  font-size: larger;
  font-weight: bold;
  margin-left: 20px;
  margin-right: 20px;
}
.songs {
  direction: rtl;
  overflow-y: scroll;
}
.overlay {
  /* display: none; */
}
.overlay {
  display: block;

  transform: translate(-50%, -50%);
  left: 50%;
  position: absolute;
  /* top: 0; */
  color: red;
  font-weight: 900;
  top: 50%;
  background: linear-gradient(130deg, #4db94d8e 10%, #1414f341 100%);
  height: 100%;
  width: 100%;
  /* opacity: 0.4; */
  border-radius: 10px;
}
.playing {
  position: relative;
  top: 30%;
  display: block;
  /* margin-left: 10px; */
  /*    left: 50%;*/
  /*    width: auto;*/
  /*    transform:translateY(-50%);*/
}
.now.playing .bar {
  display: inline-block;
  position: relative;
  top: -100%;
  margin-right: 1px;
  width: 4px;
  height: 4px;
  overflow: hidden;
  background: linear-gradient(135deg, #000000 10%, #334275 100%);
  color: transparent;
  animation-name: pulse;
  animation-duration: 1s;
  opacity: 0.8;
  animation-iteration-count: infinite;
}

.icon__title {
  font-size: 10px;
  display: grid;
}

.playing-container {
  /* margin-left: 10px; */
}
.paused.playing .bar {
  animation-iteration-count: 1;
}
.n1 {
  animation-delay: -0.5s;
}
.n2 {
  animation-delay: 0.2s;
}
.n3 {
  animation-delay: 3.1s;
}
.n4 {
  animation-delay: 1.9s;
}
@keyframes pulse {
  0% {
    height: 4px;
    margin-top: 0;
  }
  10% {
    height: 9px;
    margin-top: -40px;
  }
  50% {
    height: 15px;
    margin-top: -20px;
  }
  60% {
    height: 9px;
    margin-top: -30px;
  }
  80% {
    height: 15px;
    margin-top: -60px;
  }
  100% {
    height: 4px;
    margin-top: 0;
  }
}
.songs::-webkit-scrollbar {
  width: 10px;
}

/* Track */
.songs::-webkit-scrollbar-track {
  /* box-shadow: inset 0 0 5px rgba(83, 83, 83, 0.021); */
  border-radius: 10px;
}

/* Handle */
.songs::-webkit-scrollbar-thumb {
  background: rgba(105, 104, 109, 0.685);
  border-radius: 10px;
}

/* Handle on hover */
.songs::-webkit-scrollbar-thumb:hover {
  background: rgb(63, 63, 63);
}

@media (max-width: 768px) {
  .playList {
    width: 100%;
  }
  .playlist__musicBar {
    font-size: 10px;
    margin-bottom: 0 !important;
  }
  .playerInfo {
    margin-top: 10px;
  }
  /* .last-time {
    margin-right: -20px;
  } */
  .info__person {
    margin-bottom: 0 !important;
  }
  .closeBtn {
    display: none !important;
    margin-left: 87%;
  }
  .info__title {
    font-size: 17px;
  }
  .song__title {
    font-size: 13px;
  }
  .song__image {
    position: relative;
    height: 70px;
    width: 70px;
  }
  .song__image img {
    height: 70px;
    width: 70px;
  }

  .overlay {
    display: block;

    transform: translate(-50%, -50%);
    left: 50%;
    position: absolute;
    /* top: 0; */
    color: red;
    font-weight: 900;
    top: 50%;
    background: linear-gradient(130deg, #4db94d8e 10%, #1414f341 100%);
    height: 70px;
    width: 70px;
    /* opacity: 0.4; */
    border-radius: 10px;
  }

  .icons {
    margin-bottom: 0 !important;
  }
  .songs .number {
    margin-left: 7px;
    margin-right: 13px;
  }
  .deleteSongBtn .MuiIconButton-root {
    padding: 5px !important;
  }

  .songs::-webkit-scrollbar-track {
    /* box-shadow: inset 0 0 5px rgba(83, 83, 83, 0.021); */
    border-radius: 5px;
  }
}
