.login {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to bottom, rgb(34, 35, 39), black);
  /* height: 100%; */
}
/* 
.login .color {
  position: absolute;
  filter: blur(150px);
}

.login .color:nth-child(1) {
  top: -350px;
  width: 600px;
  height: 600px;
  background: rgb(18, 18, 18);
}

.login .color:nth-child(2) {
  bottom: 25px;
  left: 100px;
  width: 500px;
  height: 500px;
  overflow: hidden;
  background: rgb(34, 35, 39);
}

.login .color:nth-child(3) {
  bottom: 25px;
  right: 200px;
  width: 300px;
  height: 300px;
  background: rgb(184, 177, 212);
}

.login .box {
  position: relative;
}

.login .box .square {
  position: absolute;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(5px);
  box-shadow: 0 25px 45px rgba(134, 128, 128, 0.2);
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-right: 1px solid rgba(255, 255, 255, 0.3);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 10px;
  animation: squareBoxLogin 10s linear infinite;
}
@keyframes squareBoxLogin {
  0%,
  100% {
    transform: translateY(-40px);
  }
  50% {
    transform: translateY(40px);
  }
}
.login .box .square:nth-child(1) {
  top: -50px;
  right: -60px;
  width: 100px;
  height: 100px;
  animation-delay: -1s;
}
.login .box .square:nth-child(2) {
  top: 150px;
  left: -100px;
  width: 120px;
  height: 120px;
  animation-delay: -2s;
  z-index: 2;
}
.login .box .square:nth-child(3) {
  bottom: 50px;
  right: -60px;
  width: 80px;
  height: 80px;
  animation-delay: -3s;
  z-index: 2;
}
.login .box .square:nth-child(4) {
  bottom: -80px;
  left: 100px;
  width: 50px;
  animation-delay: -4s;
  height: 50px;
}
.login .box .square:nth-child(5) {
  top: -80px;
  left: 140px;
  width: 60px;
  height: 60px;
  animation-delay: -5s;
}
 */
.login__container {
  position: relative;
  width: 400px;
  background: rgba(255, 255, 255, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(2, 2, 2, 0.788);
  /* backdrop-filter: blur(10px); */
  /* filter: blur(1px); */
  /* -webkit-filter: blur(8px); */
  box-shadow: 0 25px 45px rgba(5, 4, 10, 0.2);
  border: 1px solid gray;
  border-right: 1px solid rgba(255, 255, 255, 0.3);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 10px;
}

.login .form {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 40px;
}

.login .form h2 {
  position: relative;
  color: #fff;
  font-style: 24px;
  font-weight: 600;
  letter-spacing: 1px;
  margin-bottom: 40px;
  align-items: center;
  justify-content: center;
  left: 0;
}

.login .form .inputBox {
  width: 100%;
  margin-top: 20px;
}

.login .form .inputBox input {
  text-align: right;
  width: 100%;
  background: rgba(255, 255, 255, 0.3);
  outline: none;
  padding: 10px 20px;
  border-radius: 35px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-right: 1px solid rgba(255, 255, 255, 0.3);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  font-size: 16px;
  letter-spacing: 1px;
  color: white;
  box-shadow: 0 5px 15px rgba(173, 173, 173, 0.05);
}
.login .form .inputBox input:focus {
  box-shadow: 0 5px 15px rgba(173, 173, 173, 0.733);
}
.login .form .inputBox input::placeholder {
  color: rgba(255, 255, 255, 0.438);
  text-align: right;
}

.login .form .inputBox input[type="submit"] {
  background-color: white;
  color: #666;
  cursor: pointer;
  max-width: 100px;
  margin-bottom: 20px;
  font-weight: 600;
  text-align: center;
}

.login .formMsg {
  color: rgb(18, 18, 18);
}
.login .notRegister {
  color: white;
}

.login .notRegister a {
  /* color: darkgray; */
  font-weight: 700;
  text-decoration: none;
}
.forgetPassBtn {
  color: rgba(138, 156, 255, 0.658);
  cursor: pointer;
}
.forgetPassBtn:hover {
  color: rgb(4, 30, 177);
  font-weight: 700;
}
.error__msg__login {
  color: darkred;
}
.forgetPassModal {
  display: flex;
  align-items: center;
  background-color: rgba(18, 18, 18, 0.822);
  justify-content: center;
}
.forgetPass__content {
  border: 1px solid #f5f5f566;
  box-shadow: 0 5px 15px #3df8f8;
  border-radius: 20px;
  padding: 20px;
  outline: 0;
  min-height: 450px;
  background-color: rgb(59, 59, 59);
  width: 400px;
  display: grid;
  align-content: center;
}
.forgetPass__content h2 {
  font-family: vazir;
  text-align: center;
  margin-bottom: 30px;
  color: white;
}
.forgetPass__content p {
  font-family: vazir;
  text-align: center;
  color: whitesmoke;
}
.forgetPass__form {
  display: grid;
}
.forgetPass__form input,
.forgetPass__form button {
  margin-top: 20px;
  border-radius: 20px;
  outline: 0;
  border: 1px solid white;
  padding: 10px 5px;
  font-family: vazir;
  box-shadow: 0 5px 15px rgba(122, 135, 207, 0.733);
}
.forgetPass__form button {
  background-color: rgba(177, 176, 176, 0.548);
  color: white;
}
.forgetPass__form button:hover {
  background-color: rgb(177, 176, 176);
  color: black;
}

.forgetPasswordMsg {
  font-weight: 700;
  text-align: center;
  margin-top: 20px;
  font-family: vazir;
  color: rgb(177, 196, 14);
}
.forgetPass__content__close {
  color: white;
  text-align: right;
  margin-top: -75px;
}

.policy_page_login a {
  font-size: 12px;
}
@media (max-width: 768px) {
  .login {
    min-height: 92vh;
  }
  .login__container {
    width: auto;
  }

  .login .color:nth-child(1) {
    width: 200px;
    height: 200px;
  }

  .login .color:nth-child(2) {
    width: 200px;
    height: 200px;
  }

  .login .color:nth-child(3) {
    width: 200px;
    height: 200px;
  }
  .forgetPass__content {
    width: 300px;
  }
}
