.moreSong__items {
  padding: 0 10px 0 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.moreSong .infinite-scroll-component {
  display: flex;
  flex-wrap: wrap;
  min-height: 100vh;
  justify-content: center;
}
