.musicBar {
  direction: rtl;
  position: relative;
  /* top: 0;
  display: flex;
  flex-direction: column;
  align-items: stretch; */
  /* margin-top: -110px; */
}

.musicBar__info {
  display: flex;
  align-items: center;
}

.musicBar__infoImage {
  flex-shrink: 0;
  flex-grow: 0;
  width: 90px;
  height: 90px;
  margin: 10px 0;
  border-radius: 5px;
  overflow: hidden;
  position: relative;
}

.musicBar__infoImage img {
  width: 100%;
  height: 100%;
}

.musicBar__infoDesc {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  text-align: right;
  margin-right: 10px;
}

.infoDesc__title {
  font-weight: 900;
  font-size: 20px;
  max-height: 47px;
  overflow: hidden;
}

.infoDesc__person {
  font-weight: 600;
  font-size: 12px;
  color: #6c7480;
}
.player__zone .MuiSlider-rail {
  height: 4px;
  color: #6c7480;
}
.player__zone .MuiSlider-root {
  color: rgb(255, 255, 255);
}
.playlist_sound {
  /* display: grid; */
  /* align-items: center; */
  /* justify-content: end; */
}
/* .playlist_sound .sound {
  justify-content: flex-end;
} */

.playlist_sound .MuiSlider-root {
  color: rgb(255, 255, 255);
}
.playlist_sound .MuiSlider-rail {
  height: 4px;
  color: #6c7480;
}

.playlist_sound .MuiSlider-track {
  height: 4px;
}

.icon:hover,
.icon-press {
  cursor: pointer;
  color: #6c7480 !important;
}

.player {
  direction: ltr;
}
.player .MuiSlider-track {
  height: 4px;
}
.player__zone .current-time {
  flex: 0.1;
}
.player__zone .player {
  flex: 1;
}
.player__zone .last-time {
  flex: 0.1;
}

@media (max-width: 768px) {
  .musicBar {
    position: sticky;
    top: 0;
    /* height: 100vh; */
    display: flex;
    flex-direction: column;
    align-items: stretch;
    z-index: 999;
    box-shadow: 5px 18px 18px 0 rgba(168, 179, 211, 0.38);
    background-color: rgb(18, 18, 18);
    margin-top: -284px !important;
  }
  .player__zone {
    font-size: 10px;
  }
  .playlist_sound {
    display: flex;
    justify-content: space-evenly;
  }
  .playlist_sound_playlist {
    flex: 0.2;
  }
  .playlist_sound .sound {
    flex: 0.4;
  }
}
