.myprofile {
  padding-top: 40px;
  min-height: 100vh;
  /* display: grid; */
  justify-content: center;
}
.myprofile__top {
  direction: rtl;
  border: 1px solid whitesmoke;
  justify-content: space-between;
  margin-right: 20px;
  margin-left: 20px;
  padding: 15px;
  box-shadow: 0 5px 15px rgba(183, 223, 3, 0.644);
  border-radius: 10px;
}
.userImg {
  height: 120px;
  width: 120px;
  border-radius: 10px;
}
.userImg img {
  height: 100%;
  width: 100%;
  border-radius: 10px;
}
.modalBodyPass {
  display: grid;
}
.modalHeaderPass {
  text-align: center;
  display: block !important;
  font-family: vazir;
  color: whitesmoke;
}
.passModal .modal-content {
  background: linear-gradient(135deg, #000000 10%, #12204e 100%);
  box-shadow: 0 5px 15px rgba(173, 173, 173, 0.733);
  border: 1px solid rgba(245, 245, 245, 0.295);
}

.modalBodyPass input {
  text-align: right;
  width: 100%;
  background: rgba(255, 255, 255, 0.3);
  outline: none;
  padding: 10px 20px;
  border-radius: 35px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-right: 1px solid rgba(255, 255, 255, 0.3);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  font-size: 16px;
  letter-spacing: 1px;
  color: white;
  box-shadow: 0 5px 15px rgba(173, 173, 173, 0.05);
  margin-bottom: 20px;
}
.modalBodyPass input:focus {
  box-shadow: 0 5px 15px rgba(173, 173, 173, 0.733);
}

.modalBodyPass input::placeholder {
  color: rgba(255, 255, 255, 0.808);
  font-family: vazir;
  text-align: right;
}
.modalCloseBtn {
  font-family: vazir;
  background-color: whitesmoke;
  color: black;
  border: none;
}
.modalCloseBtn:hover {
  background-color: darkred;
  color: whitesmoke;
}
.modalSaveBtn {
  color: whitesmoke;
  border: none;
  background-color: black;
  font-family: vazir;
}
.changeCurrentPass {
  align-self: center;
}
.modalSaveBtn:hover {
  background-color: lawngreen;

  color: whitesmoke;
}
.userinfo__inputbox {
  margin-right: 20px;
  display: grid;
}
.userinfo__inputbox label {
  color: whitesmoke;
}

.userinfo__inputbox input {
  text-align: right;
  width: 100%;
  background: linear-gradient(135deg, #353434 10%, #000000 100%);

  outline: none;
  padding: 10px 20px;
  border-radius: 35px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-right: 1px solid rgba(255, 255, 255, 0.3);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  font-size: 16px;
  letter-spacing: 1px;
  color: white;
  box-shadow: 0 5px 15px rgba(173, 173, 173, 0.05);
  margin-bottom: 20px;
}

.userinfo__inputbox input:focus {
  box-shadow: 0 5px 15px rgba(173, 173, 173, 0.733);
}

.myprofile__bottom {
  direction: rtl;
  margin-top: 30px;
  border: 1px solid whitesmoke;
  justify-content: space-between;
  margin-right: 20px;
  margin-left: 20px;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgb(45, 67, 73);
  padding: 15px;
}

.myListsBtn {
  border: 1px solid rgba(245, 245, 245, 0.411);
  border-radius: 10px;
  padding: 15px;
  box-shadow: 0 5px 15px rgb(102, 102, 104);
}

.myListsOption {
  background: linear-gradient(135deg, #000000 10%, #16359e 100%);
  color: rgba(255, 255, 255, 0.555);
  border: 1px solid rgb(212, 212, 212);
  padding: 8px;
  border-radius: 10px;
  margin-bottom: 7px;
}

.myListsOption:hover {
  background: linear-gradient(135deg, #16359e 10%, #000000 100%);
  cursor: pointer;
  color: whitesmoke;
}

.listShow {
  /* border: 1px solid whitesmoke; */
  border-radius: 10px;
  color: rgba(255, 255, 255, 0.555);
  border-radius: 10px;
  padding: 15px;
  justify-content: space-around;
  /* box-shadow: 0 5px 15px rgb(19, 16, 61); */
}
.myMadeListShow__title {
  display: flex;
  padding-bottom: 5px;
  color: whitesmoke;
  border-bottom: 1px solid white;
}
.myListsBtn {
  flex: 0.2;
}
.listShow {
  flex: 0.79;
}
.myMadeListsShow {
  flex: 0.3;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgb(106, 105, 117);
  border: 1px solid rgba(255, 255, 255, 0.452);
}
.myMadeListShow__title {
  display: flex;
  justify-content: space-around;
}
.showListBtn,
.playListBtn {
  background: white;
  padding: 5px 15px;
  border-radius: 10px;
  color: black;
  cursor: pointer;
  transition: background 2s;
}
.showListBtn:hover,
.playListBtn:hover {
  background: gray;
  color: white;
}
.myMadeListsShow__lists {
  height: 200px;
  overflow-y: scroll;
}

.myMadeListsShow__lists::-webkit-scrollbar {
  width: 10px;
}
.myMadeListsShow__lists::-webkit-scrollbar-track {
  border-radius: 10px;
}
.myMadeListsShow__lists::-webkit-scrollbar-thumb {
  background: rgba(105, 104, 109, 0.685);
  border-radius: 10px;
}
.myMadeListsShow__lists::-webkit-scrollbar-thumb:hover {
  background: rgb(63, 63, 63);
}

.list__name {
  cursor: pointer;
  border-radius: 10px;
  border: 1px solid white;
  margin-bottom: 10px;
  background: linear-gradient(135deg, #171920 10%, #474747 100%);
  color: rgba(245, 245, 245, 0.349);
  padding: 5px 0px;
}
.list__name:hover {
  color: rgb(245, 245, 245);
  background: linear-gradient(135deg, #474747 10%, #171920 100%);
}
.listItemsShow {
  border: 1px solid rgba(255, 255, 255, 0.514);
  border-radius: 10px;
  padding: 15px;
  box-shadow: 0 5px 15px rgb(106, 105, 117);
  flex: 0.6;
  overflow-y: scroll;
  height: 272px;
}
.listItemsShow::-webkit-scrollbar {
  width: 10px;
}
.listItemsShow::-webkit-scrollbar-track {
  border-radius: 10px;
}
.listItemsShow::-webkit-scrollbar-thumb {
  background: rgba(105, 104, 109, 0.685);
  border-radius: 10px;
}
.listItemsShow::-webkit-scrollbar-thumb:hover {
  background: rgb(63, 63, 63);
}

.song {
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
  padding-bottom: 7px;
  padding-top: 5px;
  border-bottom: 1px solid rgba(224, 224, 224, 0.192);
}
.songImg {
  height: 60px;
  border-radius: 10px;
  width: 60px;
  cursor: pointer;
}

.songImg img {
  border-radius: 10px;
  height: 100%;
  width: 100%;
}

.songName {
  align-self: flex-end;
}
.songInfo {
  display: grid;
}
.songTime {
  align-self: center;
  font-size: 10px;
}
.songTime svg {
  color: whitesmoke;
}
.songName {
  font-size: 14px;
  color: white;
}
.songSinger {
  font-size: 12px;
}
.changePass_error {
  text-align: center;
  color: rgb(221, 224, 10);
  font-weight: 700;
  font-family: vazir;
}

@media (max-width: 992px) {
}
/* .myProfile {
  min-height: 100vh;
  padding-top: 50px;
}

.myProfile__content {
  display: flex;
  border: 1px solid rgb(180, 178, 190);
  margin: 20px;
  border-radius: 10px;
  background: rgb(34, 35, 39);
  padding: 50px 20px;
  box-shadow: 0 5px 15px rgb(173 173 173 / 73%);
}

.myProfile__content__left {
  flex: 0.4;
  justify-content: center;
  align-self: center;
  display: flex;
  flex-wrap: wrap;
}

.myProfile__list__all {
  flex: 0.4;
}

.myProfile__content__left__title {
  width: 100%;
}
.myProfile__allAndShow {
  display: flex;
  width: 100%;
  direction: rtl;
}
.myProfile__list__show {
  flex: 0.7;
  overflow-y: scroll;
  border: 1px solid rgb(233, 233, 233);
  padding: 7px;
  height: 250px;
  border-radius: 10px;
  box-shadow: 0 15px 15px rgb(9 14 31 / 88%);
}
.myProfile__list {
  background-color: rgb(0, 0, 0);
  border: 1px solid rgb(157, 159, 165);
  border-radius: 10px;
  padding: 10px;
  margin: 5px;
}
.myProfile__list span {
  font-size: 14px;
}
.myProfile__list:hover {
  cursor: pointer;
  background: linear-gradient(135deg, #000000 10%, #334275 100%);
}
.myProfile__img {
  margin: 0px 30px;
  border-radius: 10rem;
  height: 270px;
  border: 1px solid rgb(190, 255, 10);
  background: grey;
  box-shadow: 0 5px 15px rgb(173 173 173 / 73%);
}
.myProfile__imgAndPass {
  flex: 0.2;
}
.myProfile__img img {
  padding: 10px;
}

.myProfile__content__right {
  flex: 0.4;
  align-self: center;
}

.myProfile__imgAndPass input[type='file'] {
  box-shadow: 0 5px 15px rgb(173 173 173 / 73%);
  border: 1px solid rgb(184, 184, 184);
  border-radius: 10px;
}
.myProfile__content__right .inputBox {
  width: 48%;
  margin-top: 10px;
  margin-left: 5px;
}

.myProfile__content__right .inputBox input {
  margin-left: 5px;
  text-align: right;
  width: 100%;
  background: rgba(255, 255, 255, 0.3);
  outline: none;
  padding: 10px 20px;
  border-radius: 35px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-right: 1px solid rgba(255, 255, 255, 0.3);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  font-size: 16px;
  letter-spacing: 1px;
  color: white;
  box-shadow: 0 15px 15px rgba(9, 14, 31, 0.877);
}
.myProfile__reset__password .inputBox {
  margin: 0 0 5px 0;
  width: 50%;
}
.myProfile__reset__password .inputBox input {
  margin-top: 5px 0 0 0;
  text-align: right;
  width: 80%;
  background: rgba(255, 255, 255, 0.3);
  outline: none;
  padding: 10px 20px;
  border-radius: 35px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-right: 1px solid rgba(255, 255, 255, 0.3);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  font-size: 16px;
  letter-spacing: 1px;
  color: white;
  box-shadow: 0 15px 15px rgba(9, 14, 31, 0.877);
}
.myProfile__reset__password .inputBox input::placeholder {
  color: rgba(255, 255, 255, 0.438);
  text-align: right;
}

.choose__photo {
  margin-top: 10px;
  margin-bottom: 10px;
}

.myProfile__reset__password .inputBox input[type='submit'] {
  background-color: white;
  color: #666;
  cursor: pointer;
  text-align: center;
  margin-bottom: 20px;
  font-weight: 600;
}

.myProfile__song__info {
  display: flex;
  direction: rtl;
  margin-bottom: 5px;
  margin-top: 5px;
}
.myProfile__song__info__names {
  width: 100%;
  justify-content: space-evenly;
  display: flex;
  overflow: hidden;
  align-self: center;
  margin-right: 15px;
  margin-left: 15px;
}
.myProfile__song__info__name {
  width: 100px;
  font-size: 14px;
  white-space: nowrap;
}
.myProfile__song__info__singer {
  font-size: 12px;
  color: gray;
}

.song__img {
  width: 45px;
  margin-left: 10px;
  margin-right: 10px;
  height: 45px;
  cursor: pointer;
}
.song__img img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

.myProfile__song__info__time {
  align-self: center;
  font-size: 12px;
}

.myProfile__list__show::-webkit-scrollbar {
  width: 10px;
  display: none;
}

.myProfile__reset__password form {
  display: flex;
  direction: rtl;
  flex-wrap: wrap;
}

.myProfile__list__all .user_btn {
  width: 100%;
  padding: 0;
}
.photo__onMobile {
  display: flex;
  display: none;
  justify-content: center;
  margin-top: -70px;
  margin-bottom: 10px;
}
.photo__lines {
  width: 120px;
  height: 120px;
}
.photo__lines img {
  width: 100%;
  border: 1px solid rgba(245, 245, 245, 0.651);
  box-shadow: 0 5px 15px rgba(173, 173, 173, 0.733);
  height: 100%;
  padding: 10px;
}


.myProfile__list .dropdown {
  border: none;
}
.myProfile__list__all .dropdown {
  border: none;
}

.myProfile__list__all .dropdown-menu {
  background: rgb(34, 35, 39);
  color: white;
  z-index: 0;
  width: 100%;
  height: 150px;
  overflow-y: scroll;
  transform: translate3d(0px, 40px, 0px) !important;
  box-shadow: 0 5px 15px rgba(173, 173, 173, 0.733);
  opacity: 1;
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.myProfile__list__all .dropdown-menu::-webkit-scrollbar {
  width: 10px;
}

.myProfile__list__all .dropdown-menu::-webkit-scrollbar-track {
  border-radius: 10px;
}

.myProfile__list__all .dropdown-menu::-webkit-scrollbar-thumb {
  background: rgba(105, 104, 109, 0.685);
  border-radius: 10px;
}

.myProfile__list__all .dropdown-menu::-webkit-scrollbar-thumb:hover {
  background: rgb(63, 63, 63);
}

.myProfile__list__all .dropdown-item {
  display: flex;
  font-size: 16px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 5px 10px 2px 5px;
  color: white;
  margin-bottom: 5px;
  border-top: 1px solid rgba(255, 255, 255, 0.05);
}
.myProfile__list__all .dropdown-item:hover {
  background: rgb(49, 50, 54);
  color: white;
  cursor: pointer;
}

.myProfile__reset__password__title {
  margin: 10px 0px;
}

.myProfile__song__info__name {
  animation: animate 5s linear infinite;
}
@keyframes animate {
  0% {
    transform: translateX(250%);
  }
  100% {
    transform: translateX(-250%);
  }
}

.myProfile .centerItem__info {
  color: lightgreen;
  font-family: Vazir;
  font-size: 10px;
}

@media (max-width: 992px) {
  .myProfile {
    height: auto;
  }
  .myProfile__content {
    display: grid;
    justify-content: center;
    padding: 20px;
  }
  .photo__onMobile {
    display: flex;
  }
  .myProfile__content__left {
    display: grid;
    justify-content: initial;
  }
  .myProfile__imgAndPass {
    display: none;
  }
  .myProfile__allAndShow {
    display: grid;
  }
  .myProfile__list__show {
    width: 100%;
  }
  .song__img {
    width: 35px;
    height: 35px;
  }
  .myProfile__song__info .number {
    font-size: 8px;
  }
  .myProfile__song__info__name {
    font-size: 12px;
  }
  .myProfile__song__info__singer {
    font-size: 9px;
  }
  .myProfile__song__info__time {
    font-size: 9px;
  }
  .myProfile__content__right {
    margin-top: 20px;
  }
  .myProfile__content__right .inputBox {
    width: 100%;
    margin: 0px 0px 0px -5px;
  }
  .form__names {
    display: grid !important;
  }
  .myProfile__reset__password .inputBox {
    margin-top: 10px;
  }
} */
