.myprofile {
  padding-top: 40px;
  min-height: 100vh;
  /* display: grid; */
  /* height: 100%; */

  justify-content: center;
}
.myprofile__top {
  display: flex;
  direction: rtl;
  border: 1px solid whitesmoke;
  justify-content: space-between;
  margin-right: 20px;
  margin-left: 20px;
  padding: 7px 10px;
  box-shadow: 0 5px 15px rgba(216, 216, 216, 0.644);
  border-radius: 10px;
}
.userImg {
  height: 90px;
  width: 90px;
  border-radius: 10px;
}
.userImg img {
  height: 100%;
  width: 100%;
  border-radius: 10px;
}
.modalBodyPass {
  display: grid;
}
.modalHeaderPass {
  text-align: center;
  display: block !important;
  font-family: vazir;
  color: whitesmoke;
}
.passModal .modal-content {
  background: linear-gradient(135deg, #000000 10%, #12204e 100%);
  box-shadow: 0 5px 15px rgba(173, 173, 173, 0.733);
  border: 1px solid rgba(245, 245, 245, 0.295);
}

.modalBodyPass input {
  text-align: right;
  width: 100%;
  background: rgba(255, 255, 255, 0.3);
  outline: none;
  padding: 10px 20px;
  border-radius: 35px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-right: 1px solid rgba(255, 255, 255, 0.3);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  font-size: 16px;
  letter-spacing: 1px;
  color: white;
  box-shadow: 0 5px 15px rgba(173, 173, 173, 0.05);
  margin-bottom: 20px;
}
.modalBodyPass input:focus {
  box-shadow: 0 5px 15px rgba(173, 173, 173, 0.733);
}

.modalBodyPass input::placeholder {
  color: rgba(255, 255, 255, 0.808);
  font-family: vazir;
  text-align: right;
}
.modalCloseBtn {
  font-family: vazir;
  background-color: whitesmoke;
  color: black;
  border: none;
}
.modalCloseBtn:hover {
  background-color: darkred;
  color: whitesmoke;
}
.modalSaveBtn {
  color: whitesmoke;
  border: none;
  background-color: black;
  font-family: vazir;
}
.changeCurrentPass {
  align-self: center;
}
.modalSaveBtn:hover {
  background-color: lawngreen;

  color: whitesmoke;
}
.userinfo__inputbox {
  margin-right: 50px;
  display: grid;
}
.userinfo__inputbox label {
  color: whitesmoke;
  font-size: 18px;
  font-weight: 600;
}
.userinfo__inputbox span {
  color: white;
}

.userinfo__inputbox input {
  text-align: right;
  width: 100%;
  background: linear-gradient(135deg, #353434 10%, #000000 100%);

  outline: none;
  padding: 10px 20px;
  border-radius: 35px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-right: 1px solid rgba(255, 255, 255, 0.3);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  font-size: 16px;
  letter-spacing: 1px;
  color: white;
  box-shadow: 0 5px 15px rgba(173, 173, 173, 0.05);
  margin-bottom: 20px;
}

.userinfo__inputbox input:focus {
  box-shadow: 0 5px 15px rgba(173, 173, 173, 0.733);
}

.myprofile__bottom {
  display: flex;
  direction: rtl;
  margin-top: 30px;
  border: 1px solid whitesmoke;
  justify-content: space-between;
  margin-right: 20px;
  margin-left: 20px;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgb(45, 67, 73);
  padding: 15px;
}

.myListsBtn {
  border: 1px solid rgba(245, 245, 245, 0.411);
  border-radius: 10px;
  padding: 15px;
  box-shadow: 0 5px 15px rgb(102, 102, 104);
}

.myListsOption {
  background: linear-gradient(135deg, #00000075 10%, #70707086 100%);
  color: rgb(255, 255, 255);
  border: 1px solid rgb(212, 212, 212);
  padding: 8px;
  border-radius: 10px;
  margin-bottom: 7px;
  transition: 0.5s;
}

.myListsOption:hover {
  background: linear-gradient(135deg, #000000 10%, #707070 100%);

  cursor: pointer;
  color: whitesmoke;
}

.listShow {
  border-radius: 10px;
  color: rgba(255, 255, 255, 0.555);
  border-radius: 10px;
  padding: 15px;
  justify-content: space-around;
}
.myMadeListShow__title {
  display: flex;
  padding-bottom: 5px;
  color: whitesmoke;
  border-bottom: 1px solid white;
}
.myListsBtn {
  flex: 0.2;
}
.listShow {
  flex: 0.79;
}
.myMadeListsShow {
  flex: 0.3;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgb(106, 105, 117);
  border: 1px solid rgba(255, 255, 255, 0.452);
}
.myMadeListShow__title {
  display: flex;
  justify-content: space-around;
}
.showListBtn,
.playListBtn {
  background: white;
  padding: 5px 15px;
  border-radius: 10px;
  color: black;
  cursor: pointer;
  transition: background 2s;
}
.showListBtn:hover,
.playListBtn:hover {
  background: gray;
  color: white;
}
.myMadeListsShow__lists {
  height: 200px;
  overflow-y: scroll;
}

.myMadeListsShow__lists::-webkit-scrollbar {
  width: 10px;
}
.myMadeListsShow__lists::-webkit-scrollbar-track {
  border-radius: 10px;
}
.myMadeListsShow__lists::-webkit-scrollbar-thumb {
  background: rgba(105, 104, 109, 0.685);
  border-radius: 10px;
}
.myMadeListsShow__lists::-webkit-scrollbar-thumb:hover {
  background: rgb(63, 63, 63);
}

.list__name {
  cursor: pointer;
  border-radius: 10px;
  border: 1px solid white;
  margin-bottom: 10px;
  background: linear-gradient(135deg, #17192073 10%, #47474769 100%);
  color: rgb(255, 255, 255);
  padding: 5px 0px;
  transition: 0.5s;
}
.list__name:hover {
  background: linear-gradient(135deg, #474747 10%, #171920 100%);
}
.listItemsShow {
  border: 1px solid rgba(255, 255, 255, 0.514);
  border-radius: 10px;
  padding: 15px;
  box-shadow: 0 5px 15px rgb(106, 105, 117);
  flex: 0.6;
  overflow-y: hidden;
  height: 272px;
}
.listItemsShow__loading {
  display: flex;
  align-items: center;
  justify-content: center;
}
.listItemsShow::-webkit-scrollbar {
  width: 10px;
}
.listItemsShow::-webkit-scrollbar-track {
  border-radius: 10px;
}
.listItemsShow::-webkit-scrollbar-thumb {
  background: rgba(105, 104, 109, 0.685);
  border-radius: 10px;
}
.listItemsShow::-webkit-scrollbar-thumb:hover {
  background: rgb(63, 63, 63);
}

.song {
  display: flex;
  justify-content: space-between;
  padding-bottom: 7px;
  padding-top: 5px;
  border-bottom: 1px solid rgba(224, 224, 224, 0.192);
}
.songImg {
  height: 60px;
  border-radius: 10px;
  width: 60px;
  cursor: pointer;
}

.songImg img {
  border-radius: 10px;
  height: 100%;
  width: 100%;
}

.songName {
  align-self: flex-end;
}
.songInfo {
  display: grid;
}
.songTime {
  align-self: center;
  font-size: 10px;
}
.songTime svg {
  color: whitesmoke;
}
.songName {
  font-size: 14px;
  color: white;
}
.songSinger {
  font-size: 12px;
}
.changePass_error {
  text-align: center;
  color: rgb(221, 224, 10);
  font-weight: 700;
  font-family: vazir;
}
.listItemsShow__delete {
  cursor: pointer;
}
.myMadeListShow__title__span {
  overflow: hidden;
  max-width: 200px;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.myprofile__mobile__show,
.myprofile__mobile__songs {
  display: none;
}

@media (max-width: 768px) {
  .myprofile {
    padding-bottom: 75px;
    padding-top: 15px;
  }
  .userImg,
  .changeCurrentPass,
  .userinfo,
  .myListsBtn,
  .listShow,
  .myMadeListsShow {
    display: none !important;
  }
  .myprofile__mobile__show__right {
    display: grid;
  }
  .myprofile__mobile__show__left {
    width: 100%;
  }
  .myprofile__mobile__songs {
    display: block;
  }
  .myprofile__top {
    height: 170px;
  }
  .myprofile__mobile__show {
    display: flex;
    width: 100%;
  }
  .myprofile__mobile__show__userImg {
    border-radius: 10px;
  }
  .myprofile__mobile__show__userImg img {
    width: 80px;
    border-radius: 10px;
    height: 80px;
  }
  .myprofile__mobile__show__changeCurrentPass {
    margin-top: 10px;
  }
  .myprofile__mobile__show__changeCurrentPass button {
    font-size: 14px;
  }
  .myprofile__mobile__show__userinfo {
    margin-right: 10px;
  }
  .myprofile__mobile__show__userinfo__inputbox {
    display: flex;
    color: white;
    border: 1px solid gray;
    border-radius: 10px;
    padding: 0 5px;
    margin-bottom: 5px;
  }
  .myprofile__mobile__show__userinfo__inputbox span {
    margin-right: 3px;
  }
  .myprofile__mobile__songs {
    width: 100%;
  }
  .myprofile__mobile__songs__myListsOption {
    width: 100%;
    padding: 3px;
    color: white;
    border: 1px solid gray;
    border-radius: 10px;
    margin-bottom: 10px;
    background: linear-gradient(to right, transparent, gray);
  }
  .myprofile__mobile__songs__myListsOption .dropdown {
    border: none;
  }
  .myprofile__mobile__songs__myListsOptionBtn {
    border: none;
    background: none;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
  }
  .myprofile__mobile__songs__myListsOptionBtn:hover,
  .myprofile__mobile__songs__myListsOptionBtn:focus {
    border: none !important;
    background: none !important;
    box-shadow: none !important;
  }
  .myprofile__mobile__songs__myListsOptionBtn::after {
    display: none;
  }
  .myprofile__mobile__songs__mySongs {
    width: 100%;
    transform: translate3d(0px, 38px, 0px) !important;
    background: linear-gradient(to bottom, rgb(34, 35, 39), black);
    border: 1px solid whitesmoke;
    height: 117px;
    overflow-y: scroll;
  }
  .myprofile__mobile__songs__mySongs::-webkit-scrollbar {
    width: 7px;
  }
  .myprofile__mobile__songs__mySongs::-webkit-scrollbar-track {
    border-radius: 10px;
  }
  .myprofile__mobile__songs__mySongs::-webkit-scrollbar-thumb {
    background: rgba(185, 185, 185, 0.685);
    border-radius: 10px;
  }
  .myprofile__mobile__songs__mySongs::-webkit-scrollbar-thumb:hover {
    background: rgb(63, 63, 63);
  }
  .myprofile__mobile__songs__mySongs a {
    color: white;
    border-bottom: 1px solid rgba(255, 255, 255, 0.205);
  }
  .songImg {
    width: 45px;
    height: 45px;
  }
  .songName {
    font-size: 12px;
  }
  .songSinger {
    font-size: 9px;
    color: gray;
  }
  .songTime {
    color: gray;
  }
}
