.navigation {
  background: #000;
  direction: rtl;
}

.navigation a {
  font-weight: 700;
  color: rgb(66, 59, 104);
  font-size: 18px;
  margin-right: 5px;
  margin-left: 5px;
}

.navigation a:hover {
  text-decoration: none;
  color: rgb(149, 148, 150);
}
