.passwordReset {
  min-height: 100vh;
  color: whitesmoke;
  display: flex;
  flex-direction: column;
  align-self: center;
  justify-content: center;
}
.backLogin {
  margin-top: 20px;
}
.backLogin a {
  border: 1px solid white;
  padding: 20px;
  border-radius: 20px;
  margin: 50px;
}

.backLogin a:hover {
  text-decoration: none;
}

.passwordResetMsg {
  /* align-self: flex-end; */
  margin-bottom: 20px;
  font-size: 20px;
  color: lawngreen;
}

.passwordReset__input {
  margin: 20px;
  display: flex;
  direction: rtl;
  justify-content: center;
  /* flex: 0.5; */
  /* flex-direction: column; */
}

.passwordReset__input input {
  text-align: right;
  margin-left: 20px;
  /* width: 100%; */
  background: rgba(255, 255, 255, 0.3);
  outline: none;
  padding: 10px 20px;
  border-radius: 35px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-right: 1px solid rgba(255, 255, 255, 0.3);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  font-size: 16px;
  letter-spacing: 1px;
  color: white;
  box-shadow: 0 5px 15px rgba(173, 173, 173, 0.05);
}
.passwordReset__inputinput:focus {
  box-shadow: 0 5px 15px rgba(173, 173, 173, 0.733);
}
.passwordReset__input input::placeholder {
  color: rgba(255, 255, 255, 0.438);
  text-align: right;
}
.passwordReset__input input[type='submit'] {
  height: 46px;
}
.passwordReset__input input:hover[type='submit'] {
  background-color: white;
  color: #666;
  cursor: pointer;
  max-width: 100px;
  box-shadow: 0 5px 15px rgba(173, 173, 173, 0.733);
  font-weight: 600;
}

.passwordReset__error {
  font-weight: 700;
  color: red;
  margin-bottom: 20px;
}
.passwordResetinfo {
  color: yellow;
}

.checkPass {
  margin-left: 20px;
  position: relative;
  margin-top: 10px;
}
