.person {
  /* height: 100%; */
}
.person__infiniteScroll__section {
  min-height: 100vh;
}
.person_information_img {
  /* padding: 10px; */
  border: 1px solid rgba(255, 255, 255, 0.253);
  border-radius: 5px;
}
.person_information_img_information {
  height: 150px;
  width: 150px;
  border: 1px solid lightcyan;
  border-radius: 10px;
  padding: 5px;
  margin-left: 20px;
}
.person_information_img_information img {
  height: 100%;
  border-radius: 10px;
  width: 100%;
}

.person_information_img__img {
  width: 150px;
  height: 150px;
  /* flex: 0.2; */
}
.person_information_img__img img {
  padding: 10px;
  width: 100%;
  height: 100%;
  box-shadow: 0 5px 15px rgb(173, 173, 173, 0.73);
  border-radius: 20px;
}

.person .infinite-scroll-component {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  height: 100%;
}

.infinite-scroll-component::-webkit-scrollbar {
  display: none;
}

.card__person {
  position: relative;
  width: 700px;
  height: 380px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  transition: 0.5s;
}

.card__person .circle__person {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 20px;
  overflow: hidden;
}

.card__person .circle__person::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #b7b7be;
  clip-path: circle(150px at center);
  transition: 0.5s;
}
.card__person:hover .circle__person:before {
  background-color: rgb(34, 35, 39);

  clip-path: circle(500px at center);
}

.card__person img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 280px;
  width: 280px;
  transition: 0.5s;
  pointer-events: none;
  box-shadow: 0 5px 15px rgba(173, 173, 173, 0.733);
  border-radius: 10px;
}

.card__person:hover img {
  /* top: 72%; */
  height: 340px;
  width: 340px;
  box-shadow: none;
  left: 72%;
}

.card__person .content__person {
  position: relative;
  width: 50%;
  left: 20%;
  padding: 20px 20px 20px 40px;
  transition: 0.15s;
  opacity: 0;
  visibility: hidden;
}

.card__person:hover .content__person {
  left: 0;
  opacity: 1;
  visibility: visible;
}

.card__person .content__person h2 {
  color: white;
  text-transform: uppercase;
  font-size: 2em;
  line-height: 1em;
  margin-bottom: 10px;
}

.card__person .content__person p {
  color: darkgray;
  overflow-y: scroll;
  height: 300px;
  direction: rtl;
  font-size: 15px;
}
.card__person .content__person p::-webkit-scrollbar {
  width: 10px;
}

.card__person .content__person p::-webkit-scrollbar-track {
  border-radius: 10px;
}

.card__person .content__person p::-webkit-scrollbar-thumb {
  background: rgb(63, 63, 63);
  border-radius: 10px;
}

.card__person .content__person p::-webkit-scrollbar-thumb:hover {
  background: rgb(63, 63, 63);
}

.card__person .content__person a {
  position: relative;
  color: white;
  padding: 10px 20px;
  background-color: white;
  color: black;
  margin-top: 10px;
  display: inline-block;
  text-decoration: none;
  font-weight: 700;
}

.person_expand {
  font-size: 10px;
}
@media (max-width: 768px) {
  .person {
    padding-bottom: 110px;
  }
  .card__person {
    /* width: auto; */
    max-width: 350px;
    align-items: flex-start;
    margin: 10px;
  }

  .card__person:hover {
    height: 600px;
  }
  .card__person .content__person {
    width: 100%;
    left: 0;
    padding: 30px;
  }
  .card__person:hover img {
    top: 80%;
    left: 50%;
    width: 250px;
    height: 210px;
    font-size: 13px;
  }
  .card__person .content__person p {
    font-size: 13px;
  }
}

@media (max-width: 420px) {
  .card__person .content__person {
    padding: 20px;
  }
}

@media (max-width: 768px) {
  .person__img img {
    width: 320px;
  }
}
