.phoneMenu {
  direction: rtl;
  position: fixed;
  background-color: rgb(34, 35, 39) !important;
  left: 0;
  bottom: 0;
  width: 100%;
  color: white;
  text-align: center;
  z-index: 14000;
  display: none !important  ;
}

.phoneMenu .active a {
  color: rgb(80, 89, 139);
}

.phoneMenu__item a {
  color: white;
  text-decoration: none !important;
  display: grid;
}

.phoneMenu__item {
  display: grid;
}

.phoneList__loginBTn {
  color: white;
}
.phoneList__loginBTn a {
  text-decoration: none;
}
.phoneList__loginBTn:hover {
  text-decoration: none;
  color: whitesmoke;
}
.phoneList__user {
  direction: rtl;
  border: 1px solid white;
  padding: 5px 15px;
  border-radius: 14px;
}
.phoneList__title {
  direction: rtl;
}

.phoneList__title__close {
  cursor: pointer;
}

.phoneList__list a {
  color: white;
}

.phoneList__list a:hover {
  text-decoration: none;
  color: rgb(179, 181, 187);
}

@media (max-width: 768px) {
  .phoneMenu {
    display: block !important;
  }
}
