.phoneList {
  /* display: block; */
  height: 100%;
}
.MuiDrawer-paperAnchorRight {
  background-image: linear-gradient(
    to bottom right,
    rgb(18, 18, 18),
    rgb(72, 76, 87)
  ) !important;
  box-shadow: 5px 18px 18px 0 rgba(168, 179, 211, 0.38) !important;
}
.phoneList__title {
  font-family: vazir;
  border-bottom: 1px solid rgb(222, 225, 235);
}
.phoneList__list {
  width: 250px;
}
.phoneList__item .MuiListItemText-root {
  display: flex;
  direction: rtl;
}

.phoneList__item .MuiTypography-root {
  font-family: vazir;
}
