.rowItemPage {
  direction: rtl;
  height: 100%;
}
.musicInfo__right {
  flex: 0.2;
}

.musicInfo__image {
  width: 455px;
  height: 455px;
  border-radius: 10px;
  box-shadow: 0px 0px 5px 5px rgba(168, 179, 211, 0.7);
}

/* .view_like {
  display: none;musicInfo 
}
.musicInfo__right:hover {
  background-position: 100% 100%;
}
.musicInfo__right:hover .view_like {
  display: flex;
  justify-content: space-around;
  color: white;
}
.musicInfo__right {
  background: linear-gradient(
    135deg,
    #000000 0%,
    #000000 25%,
    rgb(18, 18, 18) 50%,
    rgb(34, 35, 39) 75%,
    rgb(18, 18, 18) 100%
  ); 
  background-size: 400% 400%;
  background-repeat: no-repeat;
  display: flex;
  width: 500px;
  height: 500px;
 
  justify-content: center;
  align-items: center;
  color: #fff;
  position: relative;
  cursor: pointer;
  border-radius: 10px;
  transition: 0.5s all;
}
.musicInfo__image {
  position: absolute;
  left: 0;
  top: 0;
  background: #000 no-repeat center center;
  background-size: cover;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0.5;
  border-radius: 10px;
  mix-blend-mode: screen;
}

.view_like {
  position: relative;
  z-index: 10;
  text-transform: uppercase;
  letter-spacing: 0.05em;
} */

.musicInfo__left {
  flex: 0.7;
}
.musicInfo__left hr {
  border-top: 1px solid rgb(34, 35, 39) !important;
}
.actions a {
  color: white;
}

.view,
.favorite {
  display: grid;
  color: white;
}

.actions a:hover {
  text-decoration: none;
}
.musicInfo__left .MuiIconButton-root {
  color: inherit;
  /* border: 1px solid rgba(168, 179, 211, 0.486); */
  /* padding: 10px; */
}

.musicInfo__left .Favorite:hover {
  color: rgb(165, 49, 49);
}

@media (max-width: 768px) {
  .rowItemPage {
    height: 90vh;
  }
  .musicInfo {
    display: grid !important;
  }

  .musicInfo__image {
    width: 200px;
    height: 200px;
  }
}
