.rowItemPage {
  direction: rtl;
  /* height: 100%; */
}
.musicInfo__right {
  flex: 0.1;
}

.musicInfo__image {
  padding: 10px;
  width: 200px;
  height: 200px;
  border-radius: 20px;
  box-shadow: 0px 0px 5px 5px rgba(168, 179, 211, 0.7);
}
.favoritePopUp__login .modal-content {
  background: rgb(34, 35, 39);
  box-shadow: 0 5px 15px rgba(173, 173, 173, 0.733);
  border: 1px solid rgba(255, 255, 255, 0.2);
}
.favoritePopUp__login .modal-header {
  justify-content: flex-end !important ;
}
.favoritePopUp__login .modal-title {
  font-size: 20px;
  font-family: vazir !important;
  font-weight: 600;
  color: white;
}

.favoritePopUp__login .close {
  color: white;
  margin: -1rem -1rem -1rem 0px;
}

.formGp input {
  direction: rtl;
  background-color: lightgray;
  border-radius: 7px;
  overflow: visible;
  font-family: vazir !important;
  padding: 5px;
}
.favoritePopUp__login .notRegister {
  font-family: vazir !important;
  color: lightgrey;
  display: flex;
  justify-content: center;
  direction: rtl;
}
.favoritePopUp__login .modal-body {
  background: rgb(18, 18, 18);
}

.formGp__btn {
  border-top: 1px solid whitesmoke;
  margin-top: 10px;
  padding-top: 10px;
}
.formGp__btn .inputBox__login {
  flex: 0.7;
}

.formGp__btn .inputBox__login input {
  width: 100%;
  font-family: vazir !important;
  border-radius: 7px;
}

.formGp__btn .inputBox__close {
  flex: 0.2;
}
.formGp__btn .inputBox__close button {
  width: 100%;
  font-family: vazir !important;
  border-radius: 7px;
}

.musicInfo__left {
  flex: 0.8;
}
.rowItemPage hr {
  border-top: 1px solid rgb(34, 35, 39) !important;
  margin: 20px 20px 0 20px;
}
.actions a {
  color: white;
}

.view,
.favorite {
  display: grid;
  color: white;
  font-size: 10px;
}

.actions a:hover {
  text-decoration: none;
}
.musicInfo__right .MuiIconButton-root {
  color: white;
  padding: 2px;
}

.musicInfo__left .Favorite:hover {
  color: rgb(165, 49, 49);
}
.rowItemPage_play__music {
  position: absolute;
  right: 32px;
  top: 35px;
}
.rowItemPage_play__music .MuiSvgIcon-root {
  color: white;
  font-size: 140px;
  opacity: 0.65;
}
.rowItemPage_play__music .MuiSvgIcon-root path {
  cursor: pointer;
}
.musicInfo__mode_singer {
  display: flex;
}
@media (max-width: 768px) {
  .rowItemPage {
    height: 90vh;
  }
  .musicInfo {
    display: grid !important;
  }

  .musicInfo__image {
    width: 200px;
    height: 200px;
  }
  .formGp {
    display: grid !important;
  }

  .favoritePopUp__login .modal-title {
    font-size: 16px;
  }
  .rowItemPage .rowList {
    padding-bottom: 40px;
  }
  .rowItemPage_play__music {
    right: 80px;
    top: 35px;
  }
  .musicInfo__mode_singer {
    display: grid;
  }
}
