.carousel-cellRowItem {
  /* position: relative; */
  width: 16.1%;
  height: 378px;
  margin-right: 5px;
  border-radius: 5px;
  margin-left: 5px;
  min-width: 240px;
  transition: transform 450ms;
}
.carousel-cellRowItem:hover {
  cursor: context-menu;
  transform: scale(1.04);
  opacity: 0.8;
}
.carousel-cellRowItem img {
  width: 100%;
  height: 250px;
  border-radius: 5px;
}

.rowItem__onHover {
  display: none;
}

/* .visit_text:hover {
  background-image: linear-gradient(rgba(34, 35, 39, 0), rgba(34, 35, 39, 0.2));
}
.visit {
  width: 100%;
  font-size: 18px;
  font-weight: normal;
  color: white;
}
.visit:hover {
  text-decoration: none;
  font-weight: 900;
  color: rgb(18, 18, 18);
} */
.rowItem__title {
  cursor: pointer;
  font-size: 20px;
  font-weight: 900;
  line-height: 28px;
  color: white;
  margin-top: 10px;
  padding: 10px;
  display: flex;
  transition: transform 450ms ease-in-out;
  justify-content: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.rowItem__title:hover {
  /* color: rgb(161, 161, 161); */
  /* transform: rotate(-15deg) scale(1.03); */
  transform: scale(1.1);
}

.rowItem__info a:hover {
  text-decoration: none !important;
}

.rowItem__person {
  cursor: pointer;
  font-size: 13px;
  font-weight: 900;
  line-height: 28px;
  color: #757575;
  margin-top: 10px;
  display: flex;
  transition: transform 450ms ease-in-out;
  justify-content: center;
}
.rowItem__person:hover {
  transform: scale(1.1);
  /* color: rgba(243, 243, 243, 0.726); */
  /* font-size: 20px; */
}

.rowItem:hover .rowItem__onHover {
  cursor: context-menu;
  display: block;
  /* color: red; */
  /* top: 50%; */
  position: absolute;
  top: 0;
  right: 0;
  border-radius: 5px;
  width: 100%;
  height: 67%;
  opacity: 1;
  transition: all 0.5s;
  background-image: linear-gradient(
    rgba(255, 255, 255, 0.3),
    rgba(0, 0, 0, 0.5)
  );
}

.rowItem:hover .rowItem__icons {
  cursor: pointer;
  display: flex;
  /* border-top: 1px solid rgba(128, 128, 128, 0.582); */
  float: left;
  position: absolute;
  width: 100%;
  bottom: 0;

  opacity: 1;
}

.rowItem:hover .rowItem__icon {
  margin-top: 5px;
  border-radius: 3px;
  background-color: rgba(245, 245, 220, 0.1);
  margin-bottom: 7px;
  margin-left: 5px;
  color: white;
}

.rowItem:hover .rowItem__icon:hover {
  color: black;
  background-color: white;
}

.rowItem:hover .MuiSvgIcon-root {
  margin: 2px;
}
.rowItem__image {
  height: 251px;
}
.rowItem__image .badge {
  position: relative;
  bottom: 36px;
  left: 30%;
  /* margin-left: 100px; */
  min-width: 65px;
  font-size: 16px;
  font-weight: 700;
  color: rgb(8, 8, 8);
  padding: 3px 2px;
  border-radius: 20px;
  opacity: 0.8;
}

.moblie_play {
  display: none;
  position: sticky;
  bottom: 90%;
  /* position: relative;
  bottom: 90%;
  font-size: 34px;
  left: 10%; */
  color: white;
  opacity: 0.8;
}
.rowItem__playing {
  display: none;
}
.play__music {
  position: sticky;
  /* bottom: 85%; */

  /* position: absolute; */
  bottom: 45%;
  left: 15%;

  /* left: 12%; */
}

.play__music .MuiSvgIcon-root {
  color: white;
  font-size: 165px;
  opacity: 0.7;
}
.play__music .MuiSvgIcon-root path {
  cursor: pointer;
}

.rowItem {
  overflow: hidden;
}
.rowItem span {
  transition: 0.5s;
}

.rowItem span:nth-child(1) {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 3px;
  background: linear-gradient(to right, transparent, gray);
  animation: animate1 2s linear infinite;
}

@keyframes animate1 {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}
.rowItem span:nth-child(2) {
  position: absolute;
  top: 0;
  right: 0;
  width: 3px;
  height: 100%;
  background: linear-gradient(to bottom, transparent, gray);
  animation: animate2 2s linear infinite;
  animation-delay: 1s;
}

@keyframes animate2 {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(100%);
  }
}
.rowItem span:nth-child(3) {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 3px;
  background: linear-gradient(to left, transparent, gray);
  animation: animate3 2s linear infinite;
}

@keyframes animate3 {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}
.rowItem span:nth-child(4) {
  position: absolute;
  top: 0;
  left: 0;
  width: 3px;
  height: 100%;
  background: linear-gradient(to top, transparent, gray);
  animation: animate4 2s linear infinite;
  animation-delay: 1s;
}

@keyframes animate4 {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(-100%);
  }
}

.play__music___spinner {
  position: relative;
  bottom: 100%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media (max-width: 768px) {
  .rowItem__onHover {
    display: none !important;
  }
  .carousel-cellRowItem {
    height: 180px;
    width: 31.5%;
    min-width: 106px;
  }
  .play__music {
    display: none !important;
  }
  .carousel-cellRowItem img {
    width: 100%;
    height: 114px;
    border-radius: 5px;
  }
  .rowItem__image {
    height: 114px;
  }

  .rowItem__image .badge {
    bottom: 25px;
    left: 25%;
    min-width: 45px;
    padding: 1px;
    font-size: 12px;

    /* height: 20px; */
  }

  /* .rowItem__info h4 {
    font-size: 12px;
  } */
  .rowItem__title {
    margin: 0;
    padding-bottom: 0;
    font-size: 12px;
  }
  .rowItem__person {
    margin: 0;
    font-size: 9px;
  }

  .visit_text,
  .visit_text .MuiSvgIcon-root {
    font-size: 13px;
  }

  .moblie_play {
    display: block;
  }

  .rowItem__playing {
    display: block;
  }
}
