.rowList {
  background-color: rgb(18, 18, 18);
}

.rowList__title {
  margin-bottom: 0px;
  display: flex;
  background: rgb(18, 18, 18);
  direction: rtl;
}
.rowList__title .title {
  padding-top: 10px;
  padding-right: 5px;
  font-size: 20px;
  font-weight: 700;
  padding-bottom: 10px;
}

.rowList__title .rowList__moreSong {
  font-size: 15px;
  text-decoration: none;
  cursor: pointer;
  color: rgb(103, 94, 165) !important;
}

.rowList .carousel {
  outline-width: 0px;
  height: 250px;
  padding-bottom: 20px;
  padding-top: 10px;
  background-color: rgb(18, 18, 18);
}

.rowList .flickity-viewport {
  height: 250px !important;
}
.rowList .carousel-cell {
  left: 0 !important;
}
.rowList .flickity-slider {
  padding-top: 10px;
}

.flickity-enabled.is-draggable {
  -webkit-tap-highlight-color: transparent;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.flickity-enabled.is-draggable .flickity-viewport {
  cursor: move;
  cursor: -webkit-grab;
  cursor: grab;
}

.flickity-enabled.is-draggable .flickity-viewport.is-pointer-down {
  cursor: -webkit-grabbing;
  cursor: grabbing;
}
*/ .rowList__showMore {
  align-self: center;
}

@media (max-width: 768px) {
  .top__radius {
    position: sticky;
    border-top-left-radius: 25px !important;
    border-top-right-radius: 25px !important;
    /* margin-top: -30px !important; */
  }
  .top__radius__rowList__title {
    justify-content: space-between;
    border-top-left-radius: 25px !important;
    border-top-right-radius: 25px !important;
  }
  .rowList__title {
    justify-content: space-between;
  }
  .rowList__title .title {
    font-size: 15px;
  }
  .rowList__title h3 {
    padding-top: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
    font-size: 15px;
  }
  .rowList .carousel {
    height: 210px;
  }

  .rowList .flickity-viewport {
    height: 190.8px !important;
  }

  .rowList__title .rowList__moreSong {
    font-size: 13px;
  }
  .rowList__showMore__icon {
    font-size: 15px !important;
  }
}
