.test {
  position: relative;
  width: 100%;
  height: 272px;
  /* overflow-y: hidden; */

  /* overflow-y: scroll; */
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
}
