/* external css: flickity.css */

* {
  box-sizing: border-box;
}

.test {
  /* font-family: sans-serif; */
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
.test {
  /* margin-top: 20px; */
}

.cardfa {
  position: relative;
  width: 700px;
  height: 380px;
  /* background-color: whitesmoke; */
  border-radius: 20px;
  display: flex;
  align-items: center;
  transition: 0.5s;
}

.cardfa .circle {
  position: absolute;
  top: 0;
  left: 0;
  /* background: blue; */
  width: 100%;
  height: 100%;
  border-radius: 20px;
  overflow: hidden;
}

.cardfa .circle::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #383866;
  clip-path: circle(150px at center);
  transition: 0.5s;
}
.cardfa:hover .circle:before {
  background-color: rgb(34, 35, 39);

  clip-path: circle(500px at center);
}

.cardfa img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 280px;
  transition: 0.5s;
  pointer-events: none;
  box-shadow: 0 5px 15px rgba(173, 173, 173, 0.733);
  border-radius: 10px;
}

.cardfa:hover img {
  /* top: 72%; */
  height: 340px;
  box-shadow: none;
  left: 72%;
}

.cardfa .content {
  position: relative;
  width: 50%;
  left: 20%;
  padding: 20px 20px 20px 40px;
  transition: 0.15s;
  opacity: 0;
  visibility: hidden;
}

.cardfa:hover .content {
  left: 0;
  opacity: 1;
  visibility: visible;
}

.cardfa .content h2 {
  color: white;
  text-transform: uppercase;
  font-size: 2em;
  line-height: 1em;
  margin-bottom: 10px;
}

.cardfa .content p {
  color: white;
}

.cardfa .content a {
  position: relative;
  color: white;
  padding: 10px 20px;
  background-color: white;
  color: black;
  margin-top: 10px;
  display: inline-block;
  text-decoration: none;
  font-weight: 700;
}

@media (max-width: 768px) {
  .cardfa {
    /* width: auto; */
    max-width: 350px;
    align-items: flex-start;
    margin: 10px;
  }

  .cardfa:hover {
    height: 600px;
  }
  .cardfa .content {
    width: 100%;
    left: 0;
    padding: 30px;
  }
  .cardfa:hover img {
    top: 70%;
    left: 50%;
    height: 300px;
  }
}

@media (max-width: 420px) {
  .cardfa .content {
    padding: 20px;
  }
}
