.tileBanner .carousel {
  background-color: rgb(18, 18, 18);
  padding-bottom: 10px;
  padding-top: 10px;
}

.tileBanner .carousel-cell {
  width: 25%;
  height: 400px;
  margin-right: 10px;
  display: flex;
  align-items: center;
  border-radius: 10px;
  justify-content: center;
}

.tileBanner .carousel-cell-image {
  border-radius: 10px;
  height: 399px;
  width: 99%;
  display: block;
  max-height: 100%;
}

@media (max-width: 768px) {
  .tileBanner .carousel-cell {
    height: 150px;
    width: 25%;
  }
  .tileBanner .carousel-cell-image {
    height: 149px;
    width: 100%;
  }
}
