.tileBanner .carousel {
  background-color: rgb(18, 18, 18);
  padding-bottom: 10px;
  /* padding-top: 10px; */
  /* margin-top: 40px; */
  margin-bottom: 40px;
  margin-right: 10px;
}

.tileBanner .carousel-cell {
  width: 33%;
  height: 300px;
  margin-right: 10px;
  display: flex;
  align-items: center;
  border-radius: 10px;
  justify-content: center;
}

.tileBanner .carousel-cell-image {
  border-radius: 10px;
  height: 349px;
  width: 100%;
  display: block;
  max-height: 100%;
}

@media (max-width: 768px) {
  .tileBanner .carousel-cell {
    height: 150px;
    width: 66.66%;
  }
  .tileBanner .carousel-cell-image {
    height: 149px;
    width: 100%;
  }
}
